body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6em;
  padding: 8em;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  border: none;
  width: 30em;
  height: 35em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #41bbe8;
  padding: 10px;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  line-height: 1.75;
}
.input-container {
  width: 20em;

  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
label {
  width: 12em;
}
input {
  border: none;
  outline: none;
  width: 24em;
  height: 2.5em;
  margin: 8px;
  border-radius: 5px;
  text-indent: 5px;
}
.submit {
  width: 12em;
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}
